/* Mobile version */

@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: auto;
    width: 100vw;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .main-container {
    max-width: 1400px;
    height: auto;
    width: 100vw;
    position: relative;
    background-color: rgb(187, 81, 5);
    overflow: hidden;
  }

  /***************** M Landing Page  ********************/
  .landing-page-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing-page {
    width: 100%;
    height: 100vh;
  }

  .landing-page-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    height: 50%;
    background-image: url("atx-portfolio-background-photo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0px 0px 40% 40%;
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 5%;
  }

  .landing-page-bottom-container {
    height: 50%;
  }

  .basic-info {
    display: flex;
    height: auto;
    justify-content: space-evenly;
  }

  .profile-pic {
    height: auto;
    width: auto;
    border-radius: 50%;
    border: 1px solid red;
  }

  .tabs {
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
  }

  @-webkit-keyframes bounce {
    0% {
      transform: scale(1, 1) translate(0px, 0px);
    }

    30% {
      transform: scale(1, 0.8) translate(0px, 10px);
    }

    75% {
      transform: scale(1, 1.1) translate(0px, -25px);
    }

    100% {
      transform: scale(1, 1) translate(0px, 0px);
    }
  }

  .bounce {
    text-align: center;
    margin: 0 auto;
    height: 2%;
    width: 50%;
    padding: 5%;
    background: red;
    -webkit-animation: bounce 0.75s infinite;
  }

  
  .socials {
    margin-top: 8%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .socials img {
    height:100%
  }

  /***************** M About Page  ********************/
  .about-page {
    height: 100vh;
    width: 100%;
    border: 1px solid orange;
  }

  .about-page h1 {
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 2px;
  }

  .containers {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
  }

  .about-page .about-leftside-container {
    width: 95%;
    height: auto;
    border: 1px solid orange;
    margin-top: 0px;
  }

  .about-page h2 {
    display: flex;
    justify-content: center;
  }

  .about-page li {
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
  }
  .about-page .about-rightside-container {
    width: 80%;
    height: 50%;
    margin-top: 10%;
    border: 1px solid orange;
  }

  .about-img {
    width: 90%;
    height: 80%;
    border: 1px solid red;
  }

  .greeting-tag {
    height: 10%;
  }

  /***************** M Resume Page  ********************/
  .resume-page {
    height: 100vh;
    width: 100%;
    border-bottom: 5px solid white;
  }

  .resume-page h1 {
    height:2%;
  }

  .pdfContainer {
    height: auto;
    width: 100%;
  }

  #pdfCanvas {
    width: 100%;
    height: 95%;
  }

  /***************** M Portfolio Page  ********************/
  .portfolio-page {
    width: 100%;
    
    height: 100%;
    border-bottom: 5px solid white;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
  }


  .portfolio-page h2 {
    display: flex;
    justify-content: center;
  }

  figure {
    width: 35%;
    height: 70%;
    border: 1px solid black;
  }

  .portfolio-page img {
    height: 100%;
    width: 100%;
  }

  .first-row {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .first-row h4 {
    width:40%;
  }

  .second-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .second-row h4 {
    width: 40%;
  }

  .third-row {
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .third-row h4 {
    width:40%;
  }
}
/* ------------------------------------------------------------------------------- */

/* Desktop version */
@media (min-width: 769px) {
  .mobile-view {
    display: none;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: auto;
    width: 100%;
    background: black;
    opacity: 1;
  }

  .main-container {
    max-width: 1500px;
    height: auto;
    width: 100%;
    position: relative;
    background-color: rgb(187, 81, 5);
    border: 5px solid white;
  }
  

  /***************** Header/Nav  ********************/
  .wrap-bar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .sidebar {
    width: 10%;
    max-width: 150px;
    height: 99%;
    position: fixed;
    top: 0;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    background-color: rgb(187, 81, 5);
  }

  .profile-pic {
    height: 20%;
    border-bottom: 3px solid white;
  }

  .extra-info {
    height: 25%;
    border-bottom: 3px solid white;
  }

  @-webkit-keyframes bounce {
    0% {
      transform: scale(1, 1) translate(0px, 0px);
    }

    30% {
      transform: scale(1, 0.8) translate(0px, 10px);
    }

    75% {
      transform: scale(1, 1.1) translate(0px, -25px);
    }

    100% {
      transform: scale(1, 1) translate(0px, 0px);
    }
  }

  .bounce {
    height: 10%;
    width: 60%;
    padding: 10%;
    background: red;
    -webkit-animation: bounce 0.75s infinite;
  }



  .tabs {
    height: 35%;
    border-bottom: 3px solid white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }

  .socials {
    display: flex;
    justify-content: space-evenly;
    height: 20%;
    border-bottom: 3px solid white;
  }

  .socials a {
    width:25%;
    height:25%;
  }


  .socials img{
    width: 100%;
    height:100%;
  }

  /***************** About Page  ********************/
  .about-page {
    height: 100vh;
    width: 90%;
    max-width: 1350px;
    border-bottom: 5px solid white;
    margin-left: 10%;
  }

  .about-page h1 {
    display: flex;
    justify-content: center;
  }

  .containers {
    display: flex;
    justify-content: center;
    align-items: space-around;
  }

  .about-page .about-leftside-container {
    width: 50%;
    height: 50%;
    border: 3px solid purple;
    margin-right: 50px;
    margin-left: 10px;
  }

  .about-page .about-rightside-container {
    width: 50%;
    height: 50%;
    margin-top: 75px;
  }

  .about-page div.about-img {
    width: 50%;
    height: 50%;
    border: 3px solid purple;
  }

  .containers h2 {
    display: flex;
    justify-content: center;
  }

  /***************** Resume Page  ********************/
  .resume-page {
    height: 100vh;
    width: 100%;
    border-bottom: 5px solid white;
    margin-left: 10%;
    max-width: 1350px;
  }

  .resume-page h1 {
    display: flex;
    justify-content: center;
    height: 5%;
  }

  .resume-page iframe {
    width: 100%;
    height: 95%;
  }

  /***************** Portfolio Page  ********************/
  .portfolio-page {
    width: 90%;
    max-width: 1350px;
    height: auto;
    border-bottom: 5px solid white;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin-left: 10%;
  }

  /**** Portfolio Page Rightside  ****/

  .portfolio-page h2 {
    display: flex;
    justify-content: center;
  }

  figure {
    width: 20em;
    height: 20em;
    border: 2px solid black;
  }

  .portfolio-page img {
    height: 100%;
    width: 100%;
  }

  .first-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .first-row h3 {
    width: 20%;
  }

  .second-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .second-row h3 {
    width: 20%;
  }

  .third-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .third-row h3 {
    width:20%;
  }

  /***************** Contact Page Modal Pop up ********************/
  #contact-modal {
  }

  #contact-modal .close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .modal-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .modal-container.show {
    display: block;
    position: fixed;
    margin-top: 500px;
  }

  .contact-modal {
    width: 600px;
    max-width: 100%;
    background-color: white;
  }
}
